<div class="bar" id="Search">
    <table class="Selemnt">
        <tr>
            <td>
                <input type="search" id="search1" placeholder="Search" class="search1"
                onkeyup="search()">
            </td>
        </tr>
    </table>
  </div>
<div class="foodList">
   <% if(item.length>0){ %>
      <% for(var i=0; i<item.length; i++){ %>
         <! -- items -->
         <div class="a1">
            <a href="#"><h3 class="heading"><%= item[i].name %></h3></a>
            <img class="food" src=<%= item[i].image %>>
            <div class="ginfoc">
               <p><%= item[i].weight %></p>
               <i class="fa-solid fa-weight-scale"></i>
               <p><%= item[i].calories %></p>
               <div class="fire">
               <i class="fa-solid fa-fire"></i>
             </div>
            </div>
            <div class="Salomn">
            <P><%= item[i].fat %>g Fat</P>
            <div class="redot"><i class="fa-solid fa-circle"></i></div>
            <P><%= item[i].carbs %>g carb</P>
            <div class="yellowDot"><i class="fa-solid fa-circle"></i></div>
            <P><%= item[i].protein %>g Protein</P>
            <div class="greenDot"><i class="fa-solid fa-circle"></i></div>
            </div>
         </div>
      <% }} %>

    </div>